
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at 50% 50%, #6a00a3bb -50%, #0000 50%),
    radial-gradient(ellipse at 25% 80%, #372891 5%, #0000 50%),
    radial-gradient(ellipse at 66% 80%, #323232 5%, #0000 50%),
    radial-gradient(ellipse at 66% 18%, #018aab 0%, #0000 50%),
    radial-gradient(ellipse at 30% 18%, #ba1a06 0%, #0000 50%), #000;
  display: inline-table;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

div {
  font-family: "Bebas Neue", Arial Helvetica, serif;
  font-size: 20vmin;
  -webkit-text-stroke: 0px #0000004f;
  -webkit-text-fill-color: #ffffff1c;
  text-shadow: -3px -3px 3px #00000040;
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
  -webkit-text-fill-color: #002e422e;
  -webkit-background-clip: text;
  letter-spacing: 1px;
  display: inline-flex;
  width: 50vw;
  height: 38vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.water {
  background-image: url(https://i.makeagif.com/media/1-10-2018/4oMeP9.gif);
  -webkit-text-fill-color: #00e2ff5c;
}

.fire {
  background-image: url(https://c.tenor.com/5RKB-LuSHb0AAAAC/fire.gif);
  -webkit-text-fill-color: #cd0e0054;
}

.stars {
  background-image: url(https://i.pinimg.com/originals/5c/c0/d7/5cc0d7bd98a28bdcd8d0916e5db7bd7e.gif);
  -webkit-text-fill-color: #00189d33;
  text-shadow: -3px -3px 10px #4027b030, 3px 3px 10px #00080c42, 0px 0px 10px #00000080;
}

.snow {
  background-image: url(https://c.tenor.com/4rSybJ_qYGsAAAAC/snow.gif);
  -webkit-text-fill-color: #00000042;
  text-shadow: -3px -3px 10px #ffffff0d;

}

.bubbles {
  width: 100vw;
  height: 24vh;
  background-image: url(https://c.tenor.com/OPMJAHXKIU0AAAAd/looking-water.gif);
  -webkit-text-fill-color: #9c27b026;
  text-shadow: -3px -3px 10px #9c27b030, 3px 3px 10px #0000004f;
}
h1{text-align: center;
;}